:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 90px;
	margin: auto;
	text-align: center;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/portada.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}

/*---- ---- -----FORMULARIO----- ---- ------ */

html{
    background-color: #3c3838;
}

body{
    background-color: transparent;
}

#log-in-form{
    margin: 230px auto 0;
    padding: 10px;
    color: white;
    height: auto;
    max-width: 800px;
    background-image: url("formulario2.jpg");
    background-size: cover;
}

#log-in-form .heading{
	text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#log-in-form .form-group{
    float: left;
    width: 28%;
    margin-left: 40px;
}

#log-in-form .form-control{
    padding: 15px 25px;
    height: auto;
}

#log-in-form .form-group-btn{
    width: 15%;
    margin-left: 70px;
}

#log-in-form .btn{
    padding: 13px 32px;
}

#log-in-form .checkbox{
    float: left;
    margin: 15px 0 50px 40px;
}


@media screen and (max-width: 800px){
    #log-in-form{
        margin: 20px;
    }

    #log-in-form .form-group{
        width: 60%;
        float: none;
        margin: 10px auto;
    }

    #log-in-form .form-group-btn{
        margin-top: 30px;
    }

    #log-in-form .btn{
        width: 100%;
    }

    #log-in-form .checkbox{
        width: 60%;
        float: none;
        margin: 15px auto 50px auto;
    }
}

@media screen and (max-width: 600px){
    #log-in-form .form-group,
    #log-in-form .checkbox{
        width: 90%;
    }
}


/*-------BOTON------*/
a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
}
